<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.marondalgram.user.dao.UserDAO">
	<select id="getUserByLoginIdAndPassword" parameterType="map" resultType="com.marondalgram.user.model.User">
		SELECT 
			`id`
			, `loginId`
			, `password`
			, `name`
			, `phoneNumber`
			, `birth`
			, `gender`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE 
			`loginId` = #{loginId} AND `password` = #{password}
	</select>
	
	<select id="selectUserProfile" resultType="com.marondalgram.user.model.User" >
		SELECT 
			`id`
			, `loginId`
			, `name`
			, `gender`
		FROM
			`user`
		WHERE
			`id` = #{id};
	<!-- <result column="student_no" property="studentNo"/>
		resultType:hashMap -->
	</select>
	
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		( 	
			`loginId`
			, `password`
			, `name`
			, `phoneNumber`
			, `birth`
			, `gender`
			, `email`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{loginId}
			, #{password}
			, #{name}
			, #{phoneNumber}
			, #{birth}
			, #{gender}
			, #{email}
			, NOW()
			, NOW()
		)
	</insert>
	
	
	
</mapper>